body {
  background-color: #20243C;
  font-family: "Baloo 2", "Kanit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.bg-image {
    background-image: url('bg.svg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

.bg-chat {
    background-image: url('bg-chat.svg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

.bg-avatar {
  background-image: url('bg-avatar.svg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.bg-regis {
  background-image: url('bg-regis.svg');
  background-size: cover;
  background-position: center;
}

.bg-art {
  background-image: url('art.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.text-orange{
    color: #FB923C;
}

.text-gray{
  color: #8A8A8E;
}

.text-danger{
  color:#F24D4D;
}

.lgt-txt{
  color: #FFF9F0;
}

.bg-orange{
  background-color: #FB923C;
}

.bg-danger{
  background-color: #F24D4D;
}

.baloo{
  font-family: "Baloo 2", serif;
  font-optical-sizing: auto;
  font-style: normal;
}